.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
    color: #000;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #A594F9;
}
